#mainmembers {
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  color: #323232;
  margin: auto;
  text-align: center;
}

#membertitle {
  color: #000b4f;
}

.members-table {
  margin: auto;
  border: 2px solid #ebebeb;
  border-top: none;
  border-bottom: none;
  padding: 0 5%;
}

/** Mobile **/
@media only screen and (max-width: 1020px) {

  .members-table {
    border: none;
  }

  .members-table table, thead, tbody, th, td, tr {
    display: block;
    text-align: left;
  }

  .members-table thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

  .members-table tr { border: 1px solid #ccc; }

  .members-table td {
    /* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
    max-width: 100%;
    word-break: break-word;
  }

  .members-table td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 2px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

  /*
	Label the data
	*/
	.members-table td:nth-of-type(1):before { content: "Name"; }
	.members-table td:nth-of-type(2):before { content: "Company"; }
	.members-table td:nth-of-type(3):before { content: "Role"; }
	.members-table td:nth-of-type(4):before { content: "Contact"; }
	.members-table td:nth-of-type(5):before { content: "Email"; }
	.members-table td:nth-of-type(6):before { content: "Internal?"; }

}
